.tooltip {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: .2em .5em;
  border-radius: 4px;
  font-size: .75em;
  line-height: 1.4;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  outline: 0;
  transition-property: transform, visibility, opacity;

    &[data-animation=fade][data-state=hidden] {
      transform: translateY(-5px);
      opacity: 0;
    }

    &[data-placement^=top] {
      > .tippy-arrow {
        bottom: 0;
      }
    }

    &[data-placement^=top] > .tippy-arrow::before {
      bottom: -7px;
      left: 0;
      border-width: 8px 8px 0;
      border-top-color: initial;
      transform-origin: center top;
    }

    .tippy-arrow {
      display: block;
      width: 16px;
      height: 16px;
      color: var(--color-dark);

      &:before {
        content: "";
        position: absolute;
        border-color: transparent;
        border-style: solid;
      }
    }

    &[data-placement^=bottom] > .tippy-arrow::before {
      top: -19px;
      left: 0;
      border-width: 8px 8px 0;
      border-top-color: initial;
      transform: rotate(180deg);
      transform-origin: center top;
    }

}